[submodule "bundle/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/fugitive"]
	path = pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vimtex"]
	path = pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-orgmode"]
	path = pack/plugins/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/airline-themes"]
	path = pack/plugins/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/vim-test"]
	path = pack/plugins/start/vim-test
	url = https://github.com/janko/vim-test.git
[submodule "pack/plugins/start/dispatch"]
	path = pack/plugins/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/plugins/start/solarized-theme"]
	path = pack/plugins/start/solarized-theme
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "pack/plugins/start/coc"]
	path = pack/plugins/start/coc
	url = git@github.com:neoclide/coc.nvim.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/plugins/start/fzf-vim"]
	path = pack/plugins/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
